/*------------------ 
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/*------------------ 
    COMMON
------------------*/
.container {
    max-width: 1080px;
    margin: auto;
}

.container-large {
    max-width: 1300px;
    margin: auto;
}

button {
    color: white;
    background-color: #0061ff;
    padding: 10px 20px;
    border: 1px solid #0061ff;
}

section {
    padding-top: 205px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.col-left {
    float: left;
}

/*------------------ 
    MARGINS
------------------*/

/*------------------ 
    TYPO
------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

h1 {
    font-size: 76px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 25px;
}

p {
    line-height: 23px;
}

.font-zero {
    font-size: 0px;
}

/*------------------ 
    HEADER
------------------*/
header {
    position: fixed;
    padding: 24px 20px;
    font-size: 0px; 
    /* Attenzione!!!!
    Font-size 0 per rimuovere spazio tra inline-block */
    width: 100%;
    background-color: white;
    z-index: 10;
}

.header-containers {
    width: 50%;
}

header div:last-child {
    text-align: right;
}

header img {
    margin-right: 20px;
}

.header-container, header ul, header ul li {
    display: inline-block;
}

header li {
    margin: 0 20px;
}

header a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}

header button:last-child {
    margin-left: 20px;
}

img, li, button {
    vertical-align: middle;
}

/*------------------ 
    SECTION HERO
------------------*/
.hero {
    background-color: #b4d0e7;
    width: 100%;
    padding-top: 100px;
}

.hero .container-large {
    position: relative;
    bottom: -70px;
}

.hero .col-left {
    padding-top: 45px;
}

.hero .clearfix > div:first-child {
    width: 35%;
    padding-right: 50px;
}

.hero .clearfix > div:last-child {
    width: 65%;
    
}

.hero .col-left img {
    width: 100%;
}

.btn-hero {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 17px;
}

.hero i {
    font-size: 30px;
    padding-top: 40px;
    font-weight: bold;
}

/*------------------ 
    SECTION PLAN BUSINESS
------------------*/
.plan-business, .plan-business-middle, .container.enterprise {
    border: 1px solid #d0d0d3;
}

.cont-radio {
    margin-top: 55px;
    margin-bottom: 40px;
}

.cont-radio input {
   transform: scale(1.2);
   vertical-align: middle;
}

.cont-radio label {
    margin-right: 17px;
}

.plan-business, .plan-business-middle {
    min-height: 1060px;
    width: calc(100%/3 - 40px);
}

.plan-business-middle {
    margin: auto 60px;
}

.title-plan {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #d0d0d3;
}

.plans-details {
    padding: 35px 30px;
}

.col-left.plan-business p, .col-left.plan-business-middle p {
    color: #637381;
}

.price {
    display: inline-block;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 12px;
}
.plans-details a {
    color: #0061ff;
}

.plans-details ul {
    margin: 35px 0px;
    list-style: none;
}

.plans-details li {
    margin-bottom: 20px;
    padding-left: 20px;
    text-indent: -10px;
}

/* inserire i check prima dei li  */
.plans-details .checked-list li::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    display: inline-block;
    content: "\f00c";
    color: #0061ff;
    margin-right: 5px;
}

.plans-details button {
    width: 100%;
    margin-bottom: 35px;
}

.plans-details hr {
    border:0.5px solid #d0d0d3;
    width: 20%;
    margin-top: 35px;
    margin-bottom: 45px;
}

.container.enterprise {
    margin-top: 50px;
}

/* per posizionare in modo assoluto il bottone in alto a destra  */
.container.enterprise .plans-details {
    position: relative;
}

.container.enterprise .plans-details button {
    width: auto;
    padding: 10px 70px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.container.enterprise .price {
    margin-bottom: 40px;
}