/*------------------ 
    RESET
------------------*/

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/*------------------ 
    COMMON
------------------*/

.container {
    max-width: 1080px;
    margin: auto;
}

.container-large {
    max-width: 1300px;
    margin: auto;
}

button {
    color: white;
    background-color: #0061ff;
    padding: 10px 20px;
    border: 1px solid #0061ff;
}

main > section:first-child {
    margin: ;
}

/*------------------ 
    TYPO
------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

/*------------------ 
    HEADER
------------------*/

header {
    position: fixed;
    padding: 24px 20px;
    font-size: 0px; 
    /* Attenzione!!!!
    Font-size 0 per rimuovere spazio tra inline-block */
    width: 100%;
    background-color: white;
}

.header-container {
    width: 50%;
}

header div:last-child {
    text-align: right;
}

header img {
    margin-right: 20px;
}

.header-container, header ul, header ul li {
    display: inline-block;
}

header li {
    margin: 0 20px;
}

header a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}

header button:last-child {
    margin-left: 20px;
}

img, li, button {
    vertical-align: middle;
}

/*------------------ 
    SECTION HERO
------------------*/

.hero {
    background-color: #b4d0e7;
    height: 100vh;
    width: 100%;
}